<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
<script>
    process();
    var arr = [];

    function callback(response) {
        var text = document.getElementById("hello");
        text.innerHTML = "<h1>IP ADDRESS=(IPV4)" + response['IPv4'] + "</h1><h1>IP COUNTRY=" + response['country_name'] + "</h1><h1>CITY=" + response['city'] + "</h1><h1>ZIPCODE=" + response['postal'] + "</h1><h1>STATE=" + response['state'] + "</h1><h1>IP COUNTRYCODE=" + response['country_code'] + "</h1>";
    }


    function process() {

        $.ajax({
            url: "https://geoip-db.com/jsonp/",
            dataType: "jsonp"
        })
    }
</script>