<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js" integrity="sha512-jzL0FvPiDtXef2o2XZJWgaEpVAihqquZT/tT89qCVaxVuHwJ/1DFcJ+8TBMXplSJXE8gLbVAUv+Lj20qHpGx+A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js" integrity="sha512-UNbeFrHORGTzMn3HTt00fvdojBYHLPxJbLChmtoyDwB6P9hX5mah3kMKm0HHNx/EvSPJt14b+SlD8xhuZ4w9Lg==" crossorigin="anonymous"></script>

<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext('2d');
    var input = document.getElementById("input");
    var height;
    var width;
    //setting image resolution
    function resolution() {
        if (input.files.length == 0) {
            alert("please enter the file first");
        } else {
            height = document.getElementById("height").value;
            width = document.getElementById("width").value;
            if (height == "" && width == "") {
                alert("please enter the dimensions");
            } else {
                alert("resolution set");
            }
        }
    }

    //downloading files  main part
    function convert() {
        if (input.files.length != 0) {
            var b = document.getElementById("b");
            b.onclick = function() {
                alert("image converted");
                var reader = new FileReader();
                reader.onload = function(event) {
                    if (height == undefined && width == undefined) {
                        var image = new Image();
                        image.onload = function() {
                            canvas.width = image.width;
                            canvas.height = image.height;
                            ctx.drawImage(image, 0, 0);
                            canvas.style.border = "2px solid white";
                            canvas.style.marginTop = "30px";
                        }
                        image.src = event.target.result;
                    } else {
                        var image = new Image(width, height);
                        image.onload = function() {
                            canvas.width = image.width;
                            canvas.height = image.height;
                            ctx.drawImage(image, 0, 0, width, height);
                            canvas.style.border = "2px solid white";
                            canvas.style.marginTop = "30px";
                        }
                        image.src = event.target.result;
                    }
                }
                reader.readAsDataURL(input.files[0]);
                //download button
                var download = document.getElementById("but");
                download.innerHTML = "<a id='hello' class='btn btn-dark' style='color:red'>DOWNLOAD THE IMAGE</a>";
                var hello = document.getElementById("hello");
                hello.onclick = function() {
                    var c = document.getElementById("c").value;
                    if (c == "png") {
                        var an = 'image/png';
                    }
                    if (c == "jpeg" || c == "jpg") {
                        var an = 'image/jpeg';
                    }
                    canvas.toBlob(function(blob) {
                        var ans = window.URL.createObjectURL(blob);
                        var and = input.files[0]["name"];
                        var a = and.match(/^.*\./);
                        saveAs(ans, a);
                    }, an, 0.95);
                };
            }
        } else {
            alert("please enter the files first");
        }
    }
</script>